[Unit]
Description=Backrest
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/backrest
Environment="BACKREST_PORT=127.0.0.1:9898"

[Install]
WantedBy=default.target
