#!/bin/sh
{{ if eq .container "archbox" }}
distrobox-host-exec sudo systemctl enable tailscaled --now
distrobox-host-exec sudo tailscale up --authkey={{- (rbw "tailscale" "key").notes }} --operator={{ .chezmoi.username }}
{{ else }}
sudo systemctl enable tailscaled --now
sudo tailscale up --authkey={{- (rbw "tailscale" "key").notes }} --operator={{ .chezmoi.username }}
{{ end }}
