encryption = "age"
[edit]
    command = "micro"
    apply = true
[age]
	identity = "~/.config/agekey.txt"
	recipients = [ "{{ (bitwarden "item" "deskbrauni_age").notes }}" , "{{ (bitwarden "item" "envy_age").notes }}" ]

[gpg]
    recipient = "braunnicolaj@gmail.com"
    args = ["--quiet"]
    suffix = ".gpg"

[data]
	container = "{{ env "CONTAINER_ID" }}"
