encryption = "age"
[edit]
    command = "micro"
    apply = true
[age]
	identity = "~/.config/agekey.txt"
	recipients = [ "{{ (rbw "deskbrauni" "age").notes }}" , "{{ (rbw "envy" "age").notes }}" ]

	
[gpg]
    recipient = "braunnicolaj@gmail.com"
    args = ["--quiet"]
    suffix = ".gpg"
