{{ $backrestVersion := "v1.7.0" -}}
[".local/bin/backrest"]
	# VERSION="$(curl --silent "https://api.github.com/repos/garethgeorge/backrest/releases/latest" | grep -Po "(?<=\"tag_name\": \").*(?=\")")"
    type = "archive-file"
    url = "https://github.com/garethgeorge/backrest/releases/download/{{ $backrestVersion }}/backrest_Linux_x86_64.tar.gz"
    path = "backrest"

[".var/app/org.mozilla.firefox/.mozilla/firefox/brauni/chrome"]
    type = "archive"
    url = "https://github.com/MrOtherGuy/firefox-csshacks/archive/refs/heads/master.zip"
    refreshPeriod = "168h"
	stripComponents = 1
    exact = false
