#!/bin/bash
# test
# prefs.js hash: {{include (joinPath .chezmoi.homeDir ".mozilla/firefox/brauni/prefs.js") | sha256sum }}
PREFS={{- joinPath .chezmoi.homeDir "test2" }}
echo $PREFS

echo "WTF"
echo '/user_pref("toolkit.legacyUserProfileCustomizations.stylesheets", true);' >> /home/brauni/test
echo '/user_pref("toolkit.legacyUserProfileCustomizations.stylesheets", true);' >> $PREFS

#sed -i 's/user_pref("toolkit.legacyUserProfileCustomizations.stylesheets", false);/user_pref("toolkit.legacyUserProfileCustomizations.stylesheets", true);/g' {{ joinPath .chezmoi.homeDir ".mozilla/firefox/brauni/prefs.js" }}
