#!/bin/sh
{{ if eq .container "archbox" }}
distrobox-host-exec sudo systemctl enable tailscaled --now
distrobox-host-exec sudo tailscale up --authkey={{- (bitwarden "item" "tailscale_key").notes }} --operator={{ .chezmoi.username }}

{{ end }}
