#!/bin/sh
atuin login --username {{ (bitwarden "item" "atuin_brauni").login.username }} --password "{{ (bitwarden "item" "atuin_brauni").login.password }}" --key "{{ (bitwarden "item" "atuin_brauni").notes }}"
