// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

// Outputs from existing configuration
output "eDP-1" {
    mode "1920x1080@59.997"
    position x=0 y=0
}
output "Acer Technologies XG270HU T1T00000SL00" {
    mode "2560x1440@144.006"
    position x=1920 y=-600
}
