[Desktop Entry]
Name=Vivaldi
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/vivaldi-stable %U
Terminal=false
Icon=vivaldi
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
X-XFCE-Source=file:///usr/share/applications/chromium.desktop
Path=
StartupNotify=true
